<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>
        body{
            background-color: #E91E63;
            color: #FFFFFF;
            text-align: center;
            margin-top: 15%;
        }
        p{
            font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 28px;
        }
        img{
            width: 800px;
            height: auto;
        }
    </style>
</head>

<body>


<img src="{{ asset('img/logofin.png') }}">

<p>
    Notre site passe en maintenance un court moment.<br>
    Notre équipe est mobilisée pour que ce moment soit le plus court possible.
</p>



</body>
</html>