
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select{
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    font-size: 16px;
    font-weight: 300;
    color: #607D8B;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s;
    -ms-transition: all .3s; transition: all .3s;
}


select{
    height: 34px;
    padding: 6px 12px;
}

textarea, 
textarea.form-control {
	line-height: 30px;
}


