/*================================
    GOOGLE FONT
==================================*/
/*@import url(http://fonts.googleapis.com/css?family=Lato);  FREE GOOGLE FONTS */

/*================================
  GENERAL STYLES
==================================*/

body {
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-size: 14px;
    padding-top: 75px;
}

section {
    padding: 20px 0px;
}

.section-padding-top-bottom-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-padding-left-right-50{
    padding-left: 50px;
    padding-right: 50px;
}

.text-right {
    text-align: right;
}

p{
    font-family: "Calibri Light",'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

video {
    width: 80%;
    height: auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

label{
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

a,a:hover,a:active,a:focus{
    text-decoration: none;
}

::-moz-selection { /* Code for Firefox */
    color: #FFFFFF;
    background: #78AB4E;
}

::selection {
    color: #FFFFFF;
    background: #78AB4E;
}


/*================================
  HEADER STYLES
==================================*/

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 20px 5px;
    padding: 5px;
    /*line-height: 50px;*/
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background: #6d7a8b;
    overflow: hidden;
    cursor: pointer;
}

.social a{
    color: #FFFFFF;
}

header {
    background-color: rgba(45, 56, 71, 1);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 12px;
    position: fixed;
    z-index: 1024;
    top: 0px;
    right: 0px;
    left: 0px;

}

header .logo-wrapper img {
    max-height: 40px;
}

header .menu-links {
    padding-top: 5px;
    white-space: nowrap;
}

header .menu-links a {
    font-size: 20px;
    color: #fff;
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 15px;

}


header .menu-links a:hover, header .menu-links a.active {
    color: #78ab4e;
}


header a:hover, header .menu-links a:focus {
    text-decoration: none;
    /*
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;*/
}

/*==================
Menu nav
*/

.menu{
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 200px;
    font-family: 'Source Sans Pro',sans-serif;
    position: relative;
    overflow: hidden;
    height: 200px;
}


.dropdown-menu>li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}
.triangle-up:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 40px;
    top: -9px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF !important;
}




.triangle-up:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 40px;
    top: -10px;
}
.triangle-up-darkviolet:before{

    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 25px solid #9400D3 !important;
}

.triangle-up-light-blue:before{
    right: 151px;
    top: -24px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 25px solid #03A9F4 !important;
}




.menu li a{
    margin: 0;
    padding: 10px 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #cccccc;
}

.menu li a h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
}

.menu-message{

}


.menu-message img{
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}

.menu-message p {
margin: 0 0 0 45px;
font-size: 12px;
color: #888888;
}

.menu-message small{
color: #999999;
font-size: 10px;
position: absolute;
top: 0;
right: 0;
}
.menu-Notification li a:hover, .menu-Notification li a{
    color: #000000;

}
.menu-Notification p{
    font-size: 14px;
    margin-bottom: 0px;
}
.menu-Notification li a span,.menu-Notification li a i {
    font-size: 14px;
    margin-top: 7px;
}




/*=========================
        Menu xs
==========================*/
.menu-xs{

}
.menu-xs .menu-xs-bg{

}
.menu-xs a>i[class*="fa"]{
    font-size: 45px;
    color: #FFFFFF;
}
.menu-xs a>i[class*="fa"]:hover{
    font-size: 47px;
}

/*================================
  HOME SECTION STYLES
==================================*/

#home {
    background-image: url(../img/home.jpg);
    background-repeat:no-repeat ;
    background-attachment: scroll;
    background-position: center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
}

#home .overlay {
    padding-top: 100px;
    background-color: rgba(36, 36, 36, 0.5);
    min-height: 900px;
    padding-bottom: 40px;
}

#home .overlay .overlay-text h1{
    font-size: 60px;
    line-height: 115%;
    font-weight: 900;
    letter-spacing: .05em;
    text-transform: uppercase;
    white-space: nowrap;
}




#home .home-form{
    margin: 80px 0px;
}
#home .home-form .btn{
    margin-top: 50px;
}

#home .home-Membre-bg{
    background-color: rgba(0,0,0, 0.5);
}



#home h1 {
    font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 35px;
    color: #FFFFFF;
    padding: 20px 40px;
    /*text-transform: uppercase;*/
}

#home h4 {
    margin-bottom: 30px;
    line-height: 40px;
    font-size: 20px;
    color: #D0D0D0;
}

#home span[class*="glyphicon"]{
    font-size: 20px;
}
.color-dep{
    color: #00a65a;
}
.color-Arriv{
    color: #b92c28;
}

/*================================
Profitez des avantages du covoiturage WANASNI
================================*/

#avantage{
    font-size: 30px !important;
    background-color: #FFFFFF;

}

.heading-title{
    font-family: "Calibri Light",'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 5px;
}
.heading-title h2 {
    font-size: 40px;
}

#avantage h3 {
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.heading-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 3px;
    background: #00a7d0;
    left: 40%;
    bottom: 0;
}


#avantage p{
    line-height: 20px;
    font-size: 15px;
}

.icon-avantages-eco{
    background: url(../img/economy.png) no-repeat ;
    background-size: 100px;
}

.avantages-icon {
    margin-bottom: 30px;
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    position: relative;
}

.avantages-icon-hover-1:hover {
    border: 10px solid  #34D293;
}

.avantages-icon-hover-2:hover {
    border: 10px solid #E96656 ;
}

.avantages-icon-hover-3:hover {
    border: 10px solid #3AB0E2;
}


.avantages-icon img{
    position: relative;
    top: 5px;
    width: 115px;
    vertical-align: middle;
}




.margin-top-buttom{
    margin-top: 40px;
    margin-bottom: 100px;
}


/*==========================
section-video
===============*/


.section-video{
    background-color: #f8f8f8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: middle;
}
.section-video p{
    font-size: 30px;
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 50px;
    color: #000000;
    margin-bottom: 30px;


}
.section-video a{
    font-size: 20px;
    text-decoration: none;
    color: #404852;
    margin-left: 20px;
}


/*================================
  BUTTON STYLES
==================================*/
.btn{
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 0px;
}

.red-btn {
    background: #e96656;
}

.red-btn, .green-btn, .blue-btn, .yellow-btn {
    color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn.btn-green {
    background: #1ABB9C;
    color: #FFFFFF;
}

.btn-vert{
    border: 3px solid;
    margin-right: 5px;
}

.btn-validation {
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 10px 4px;
    line-height: 18px;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #0FAAF0;
    border: 1px solid #0FAAF0;
    border-bottom: 2px solid #0d96d3;
    font-weight: normal;
    border-radius: 3px;
    box-shadow: none;
}


.blue-btn {
    background: #3ab0e2;
}
.yellow-btn {
    background: #E7AC44;
}

.green-btn {
    background: #20AA73;
}
.red-btn,.green-btn,.blue-btn,.yellow-btn {
    color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
    color: #FFF;
    background: #1288b9;
}
.red-btn:hover {
    color: #FFF;
    background: #cb4332;
}
.green-btn:hover {
    color: #FFF;
    background: #069059;
}
.yellow-btn:hover {
    color: #FFF;
    background: #d8951e;
}




.btn-custom {
    min-height: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 10px 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
}

.btn-Contour{
    border: 3px solid;
    margin-right: 5px;
}



.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.btn-link-2 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}





/*================================
           ABOUT STYLES
==================================*/

/*================================
       CLIENTS SECTION STYLES
==================================*/


.menu-client .menu li a:hover {
    background-color: #D2D6DE;
    text-decoration: none;
}
.menu-client ul li .footer a {

    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    text-align: center;
}


.menu-client .dropdown-menu {
    position: absolute;
    right: -15px;
    left: auto;
    width: 280px;
    padding: 0 0 0 0;
    margin: 5px 0px;
    top: 100%;
}


header .menu-client{
    white-space: nowrap;
    margin: 10px;
}


header .menu-client .links-anonymouse{
    white-space: nowrap;
    margin: 10px;
}


header .menu-client li{

}

header .links-anonymouse a.btn-Contour:hover{
    color: #FFFFFF;
    background-color: #78ab4e;
    border-color: #78ab4e;
}
header .links-anonymouse a.btn-Contour{
    color: #6d7a8b;
}





header .links-anonymouse a.btn-vert:hover{
    color: #6d7a8b;
    border-color: #6d7a8b;
    background-color: rgba(0,0,0,0);

}
header .links-anonymouse a.btn-vert{
    color: #FFFFFF;
    background-color: #78ab4e;
    border-color: #78ab4e;

}

header .menu-client a:hover{
    color: #FFFFFF;
}

header .menu-client ul a{
    color: #6d7a8b;
    font-size: 20px;
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header .client{
    overflow: hidden;
}

header .client:hover {
    background-color: #122b40;
    border-radius: 5px;

}


header .client a{
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}
header .menu-client li a span[class*='label'] {
    position: relative;
    top: -13px;
    right:10px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
}


.menu-user{
    position: absolute;
    top: -3px;
}

.menu-user .client a span{

}

.menu-user .client li a{
    text-decoration: none;
    font-size: 17px;
}
.menu-user .client li a:hover{
    color: #00a7d0;
}


#client-img{
    max-width: 40px;
    border-radius: 50%;
}

.header-cover{
    margin: 2px;
    padding: 15px 0px;
    background-color: #00a7d0;
    overflow: hidden;
}
.header-cover p{
    white-space: nowrap;
}

#client-cover-img{
    width: 70px;
    border-radius: 50%;
    border: 5px solid #ececec;
}


.client-cover {
    background-color: #0094ff;
    padding: 100px 50px 100px 50px;
    color: #fff;
}


/*============================
Label
===========================*/

.label-blue{
 background-color: #00a7d0;
}



/****************
Color
**************/

.blue{
    color: #5bc0de;
}

.bg-blue{
    background-color: #5bc0de;
}
.bg-light-blue{
    background-color: #03A9F4;
    color: #FFFFFF;
}
.yellow-dark {
    color: #FFBE00;
}

.darkviolet{
    color: #9400D3;
}

.bg-darkviolet{
    background-color: #9400D3;
    color: #FFFFFF;
}

.darkgrey{
    color: #607D8B;
}

.bg-darkgrey{
    background-color:#607D8B ;
    color: #FFFFFF;
}

.bg-lightcoral{
    background-color: lightcoral;
    color: #FFFFFF;
}

.red {
    color: #FA6C65 !important;
}
.green {
    color: #1ABB9C !important;
}

.vert{
    color: #78ab4e;;
}

.bg-vert{
    background-color: #78ab4e;;
}

.bg-gray {
    background-color: #eeeeee;
}

.bg-green {
    background-color:  #1ABB9C !important;
}

.white{
    color: #FFFFFF;
}

.steelblue{
    color: steelblue;
}


.bg-white{
    background-color: #FFFFFF;
}

.violet-red{
    color: #8c2463;
}
.bg-violet-red{
    background-color: #8c2463;
}

/*================================
    CONATCT SECTION STYLES
==================================*/

#contact {
padding: 100px;
}

#contact .heading-title h2{
    white-space: nowrap;
}


.section-text h3 {
    margin: 0 0 30px;
    font-weight: 800;
    color: #5D5D5D;
}

.section-text h4 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 17px;
}


/*=====================
        Suivez-Nous
========================*/

#social{
    background-color: #f6f5f5;
}

/*================================
    FOOTER SECTION STYLES
 ============================  */
footer {

}

footer .footer-body{
    height: 400px;
    background-color: #2D3847;
    color: #fff;
}

footer  .footer{
    padding: 1px;
    background-color: #78ab4e;
    color: #fff;
}


footer a, footer a:hover, footer a:focus {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

/*============================
        Modal
==========================*/

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;

}
.modal {
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
}
.modal .modal-title{
    font-size: 25px;
}
.form-horizontal  .input-group-addon{
    background-color: #FFFFFF;
    border-right: 0px transparent;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

/*=====================
       Login + Register
====================*/
.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}
.login-box-body, .register-box-body {
    background: #F5F5F5;
    padding: 20px;
    border-top: 0;
    color: #666;
}
.login-box-msg{
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

/*=====================
    Proposer style
=======================*/

.legend {
    display: inline-block;
    height: 10px;
    margin: -2px 5px 0 0;
    vertical-align: middle;
    width: 10px;
}
.legend.green {
    background-color: #5CB85C;
    border: 1px solid #009688;
}
.legend.blue {
    background-color: #5BC0DE;
    border: 1px solid #2196F3;
}

#proposer{

}


#proposer .nav-tabs > li > a {
    display: block;
    font-family: "Calibri Light", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    border: 1px solid transparent;
    border-radius: 20px 20px 0 0;
    margin-right: 1px;
    padding: 20px;
    background: #E6E6E6;


}
#proposer label {
    font-weight: 500;
}

.border-bottom{
    border-bottom: 2px solid #eeeeee;
}

#proposer .nav-tabs > li.active > a{
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

#proposer .tab-content{
    background: #FFFFFF;
    padding: 20px;
}

.pos-relative
{
    position: relative;
}

span.input-icon{
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 1;
    font-size: 25px;
}
span.date-icon{
    position: absolute;
    opacity: 0.5;
    top: 4px;
    left: 14px;
    z-index: 1;
    font-size: 25px;
}
.text-indent{
    text-indent: 26px;
}

#proposer .tab-content  .form-group{
    margin-left:40px;
}

#proposer h3{
    color: steelblue;
}

#proposer .waypoint:hover .close{
    opacity: 0.4;
}


#proposer .waypoint .close {
    position: absolute;
    float: none;
    width: 12px;
    height: 12px;
    line-height: 12px;
    top: 15px;
    right: 15px;
    opacity: .1;
}

.option-trajet{
    white-space: nowrap;
}

.option-trajet i{
    position: relative;
    top: 5px;
    left: 0px;
}

.option-trajet i:hover{
    color: #00a7d0;
}


.close {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
/**************************
        Rechercher
****************************/

.form-search-bg{
    background-color: #eeeeee;
}

.box-highlight{
    padding: 5px;
    background-color: #f4f4ea;
    border-radius: 5px;
}

.Alert-or {
    margin-top: 15px;
    margin-bottom: 15px;
}
.Alert-orBar {
    border: .2em solid #f4f4ea;
    position: relative;
    top: 1.0810810810811em;
    margin: 0 10px;
}
.Alert-orText {
    background-color: #f4f4ea;
    color: #000;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 1.9em;
    text-align: center;
    font-size: 1.0810810810811em;
    margin: 0 auto;
    position: relative;
}

/*============================
    Calendar simple | round day
============================*/

#regular-calendar.ll-skin-melon .ui-datepicker {
    padding: 0;
    width: 100%;
}

.ll-skin-melon td .ui-state-active{
    background-color: inherit;
    color: inherit;
}


 .ui-datepicker td.simple-date-selected a,
 .ui-datepicker td.simple-date-selected a {
    background-color: #5CB85C;
     color: #FFFFFF;
}
 .ui-datepicker td.round-date-selected a{
    background-color:   #5BC0DE;
     color: #FFFFFF;
}

.ui-datepicker td.simple-date-selected.round-date-selected a{
    background: url(../img/simple-round-date.png) no-repeat center center;
    background-size: cover;
    color: #FFFFFF;
}
/*****************************
    Checkbox css
**********************************/

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: auto;
    white-space: nowrap;
}



.material-switch > label:before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
    top: 17px;
    left: -55px;
}
.material-switch > label:after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    margin-top: -8px;
    position: absolute;
    left: -64px;
    top: 12px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label:before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label:after {
    background: inherit;
    left: -30px;
}




/***********************
    Profil CSS
**************************/

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #8c2463;
}
.nav-pills>li>a{
    background-color: #f6f5f5;
    color: #6d7a8b;

}
#nav-pills-h-profil-e.nav-pills>li>a{
    font-size: 30px;
}


#nav-pills-h-profil-e.nav-justified>li {
    padding-right: 2px;
}

#nav-pills-h-profil-e.nav-pills>li.active.triangle-down:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 50%;
    top: 91px;
    border-left: 10px solid transparent;
    border-right: 46px solid transparent;
    border-top: 18px solid #8C2463 !important;
}


.update-photo{
    width: 150px;
    height: 150px;
    background-image: url("../img/UpdatePhoto-icon.png");
    background-repeat: no-repeat;
    background-size: 150px;
    margin-left: 100px;
    border: 2px dashed #5e5e5e;
}
.update-photo>img{
    max-width:146px ;
    max-height: 146px;
}


/**************************
Messages style
********************************/

.messages{
    height: 700px;
    border: 1px solid #03A9F4;
}

.content-message{
    border: 1px solid #03A9F4;
}



.heading-messages{
    padding: 10px;
}

.message>a{
    position: relative;
    margin: 0;
    padding: 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #cccccc;
}

.message>a:hover{
    background-color: #eeeeee;
}

.message h4{
    color: #000000;
}
.message p {
    margin: 0 0 0 45px;
    font-size: 14px;
    color: #000000;
}

.message small {
    position: absolute;
    top: 60px;
    right: 6px;
}

.body-messages{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}


.message-user-img {
    margin: auto 10px auto auto;
    max-width: 60px;
}

/*
 * Component: Box
 * --------------
 */
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-success {
    border-top-color: #00a65a;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

/*
 * Component: Direct Chat
 * ----------------------
 */
.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
    height: 500px;
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto;
}

.direct-chat-success .right > .direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #ffffff;
}
.direct-chat-success .right > .direct-chat-text:after,
.direct-chat-success .right > .direct-chat-text:before {
    border-left-color: #00a65a;
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.direct-chat-name {
    font-weight: 600;
}
.direct-chat-timestamp {
    color: #999;
}
.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
}
.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}

.direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}

.direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-success .right>.direct-chat-text:after, .direct-chat-success .right>.direct-chat-text:before {
    border-left-color: #00a65a;
}
.right .direct-chat-text:after, .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}

.right .direct-chat-img {
    float: right;
}
.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}
/*================================
    RESPONSIVE STYLES
 ============================  */

@media (min-width: 100px) and (max-width: 498px) {
    #email-subscribe .form-control {
        display: block;
        width: 100%;
    }

    #email-subscribe .btn-subscribe {
        margin-top: 20px;
    }

}


@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/***************************
Media home
**********************/
@media (max-width: 767px) {

    #home .overlay {
        padding-top: 0px;
        min-height: 500px;
    }

    #home .overlay .overlay-text h1 {
        font-size: 25px;
        line-height: 115%;
        letter-spacing: 0.031em;
    }

    #home .home-form{
        margin: 5px 0px;
    }

    #home h1 {
        font-size: 20px;
        padding: 5px 10px;
    }


    .section-video p {
        font-size: 25px;
    }
    .section-video a {
        font-size: 15px;
    }

    .heading-title h2 {
        font-size: 20px;
    }
    #contact {
        padding: 5px;
    }

    #contact .heading-title p{
        font-size: 14px;
    }

    #social{
        padding: 10px 0px;
    }

    footer .footer-body {
        height: 200px;
    }

}