{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
{% endblock title %}

{% block body %}


<div class="container" style="margin-top: 20px">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
            <div class="alert alert-{{ type }}">
                {% for message in messages %}

                        {{ message|trans }}

                {% endfor %}
            </div>
            {% endfor %}
        {% endif %}
</div>

    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>


{% endblock body %}

